* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

 body {
    height: 100%;
    width: 100%;
     background-color: rgb(66, 55, 55);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

main {
    width: 100%;
    height: 100%;
}

#box {
   margin-top: 10%;
    height: 400px;
    width: 450px;
    background-color: red;
    border-radius: 30px;
    border: 3px solid black;
    

}

button {
   padding: 10px 20px;
    border-radius: 200px;
    height: 60px;
    width: 150px;
    background-color: yellow;
    border: 3px solid black;

}

/* button:hover {
    background-color: green;
} */

button:active {
    background-color: rgba(94, 255, 0, 0.767);
    scale: 0.95;
}