* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

body {
    /* cursor: none; */
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;

}

main {
    width: 100%;
    height: 100%;
}

#box {
    height: 200px;
    width: 200px;
    background-color: aquamarine;

}

#cursor {
    height: 20px;
    width: 20px;
    position: fixed;
    transform: translate(-50%, -50%);
    /* pointer-events: none;  */
}