* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

main {
    width: 100%;
    height: 100%;
}


/* color , length , angle */

/* @property --box-size {

    syntax: '<length>';
    inherits: false;
    initial-value: 300px;
} */

@property --bgcolor {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(255, 225, 0);
}

@keyframes bgcolorchange {
    from {
        --bgcolor: rgb(255, 0, 0);
        transform: translateX(10px)scale(1.2);
    }

    to {
        --bgcolor: rgb(0, 0, 255);
        transform: translateX(200px)scale(0.2);
    }

}


.box {
    width: 300px;
    height: 300px;
    background-color: var(--bgcolor);
    margin: auto;
    border: 2px solid wheat;

    animation: bgcolorchange 3s infinite alternate;






}