* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0000;
}

main {
    width: 100%;
    height: 100%;
}

.box {

    /* paddng-inline --> horzontal */

    padding-inline: 10px;
    padding-bottom: 10px;
    max-width: 500px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;

    box-shadow: 0 0 60px rgb(215, 11, 11);

     background: 
     
     linear-gradient(black)

     conic-gradient(from 0deg, black,rgb(204, 10, 10),black);

}

.box img {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 20px;

}

.box p, h1 {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}