* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0000;
}

@property --rotate {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes border {
    from {
        --rotate: 0deg;
    }

    to {
        --rotate: 360deg;
    }
}

@keyframes textFade {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.box {
    padding-inline: 10px;
    padding-bottom: 10px;
    max-width: 500px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 30px;

    background:
        linear-gradient(black) padding-box,
        conic-gradient(from var(--rotate), black, rgb(204, 10, 10), black) border-box;

    border: 0px solid transparent;

    animation: border 6s linear infinite;
    animation-play-state: paused;

    /* from smooth  */
    transition: all 0.3s ease;

    box-shadow: 0 0 0px rgba(244, 9, 56, 0.186);

    color: rgb(245, 239, 239);
}

.box:hover {
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0 0 80px rgba(204, 10, 117, 0.334);
    color: rgb(237, 43, 9);
}




.box img {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 20px;
}

.box h1 {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 28px;

    animation: textFade 1s ease-in-out forwards;
}

.box p {
    color: white;
    text-align: center;
    font-size: 20px;

    animation: textFade 1.5s ease-in-out forwards;
}