* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    // font-family: 'Times New Roman', Times, serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    background-color: rgb(180, 173, 173);
}

body {

    background-color: rgb(15, 14, 14);
}

@mixin flex-colum($gap: 0 rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}



main {
    width: 100%;
    @include flex-colum(0rem);

    section {
        width: 100%;
        @include flex-colum(1rem);
        padding: 1rem;
    }

    .top {
        width: 100%;

        img {
            width: 100%;
            border-radius: 17px;
        }
    }

    .bottom {
        background-color: rgb(70, 66, 66);
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-radius: 10px;
        gap: 2.6rem;

        .text {
            @include flex-colum(0.9 rem);
        }

        h1 {
            font-weight: 400;
            font-size: 2.7rem;
            text-transform: uppercase;
            color: rgb(223, 233, 233);
        }

        p {
            font-weight: 600;
            font-size: 1.4rem;
            opacity: 0.7;
            line-height: 2.1rem;
            color: rgb(223, 233, 233);

        }

        button {
            width: fit-content;
            border: none;
            outline: none;
            padding: 0.7rem 1rem;
            border-radius: 0.7rem;
        }
    }
}

@media(min-width:600){
    main{
        background-color: red;
    }
}