* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
}
h1 , h2 {
    margin: 50px;
}

button{
    height: 40px;
    width: 100px;
    margin: 50px;
    border-radius: 40px;
    background-color: red;
    text-decoration-color: blue;
    
}
button:hover{
    background-color: rgb(255, 170, 0);
    cursor: pointer;
}