

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    overflow: hidden;
}
main {
    width: 100%;
    height: 100%;
 
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
    padding: 20px 30px;
    border: 10px;
    background-color: crimson;
    position: relative;
    font-size: 28px;
    font-weight: 800;
      cursor: pointer;
      border-radius: 10px;
    
}
button:active{
    scale: 0.94;
}

